.nb-tabs-wrapper .nb-tabs-list {
	display: flex;
	justify-content: space-evenly;
	max-width: 800px;
	margin: 0 auto;
}

.nb-tabs-wrapper .nb-tab-item {
	font-size: 13px !important;
	line-height: 13px !important;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	display: table-cell;
	float: left;
	padding-top: 0px;
	padding-bottom: 47px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	margin-left: 0;
	margin-right: 0;
	cursor: pointer;
}

.nb-tabs-wrapper .nb-tab-line {
	width: 200px;
	border-top: 1px #cccccc solid;
}

.nb-tabs-wrapper .nb-tab-item .nb-tab-number {
	display: inline-block;
	line-height: 28px;
	text-align: center;
	vertical-align: middle;
	width: 30px;
	min-width: 30px;
	min-height: 30px;
	height: 30px;
	margin-top: -14px;
	color: #999;
	background: #fff;
	border-radius: 50%;
	position: relative;
	-webkit-transition: color 0.3s, background 0.3s;
	-o-transition: color 0.3s, background 0.3s;
	transition: color 0.3s, background 0.3s;
	font-size: 16px;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
}
.nb-tabs-wrapper .nb-tab-item.current .nb-tab-number {
	background: transparent linear-gradient(180deg, #1BCB3F 0%, #45D242 33%, #7BDB46 78%, #91DF48 100%) 0% 0% no-repeat padding-box;
	color: #ffffff;
}

.nb-tabs-wrapper .nb-tab-item .number-text {
	-webkit-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}

.nb-tabs-wrapper .nb-tab-text {
	display: none;
	font-size: 13px;
	line-height: 1.25;
	font-weight: normal;
	letter-spacing: 0.3px;
	text-transform: capitalize;
	padding-top: 8px;
	white-space: nowrap;
	position: absolute;
	top: 15px;
	width: 100%;
	text-align: center;
}

.nb-tab-item:first-child .nb-tab-text {
	position: absolute;
}

.nb-tab-item:last-child .nb-tab-text {
	position: absolute;
	left: auto;
	-webkit-transform: translate(0,0);
	    -ms-transform: translate(0,0);
	        transform: translate(0,0);
}

@media screen and (min-width: 767px) {

	.nb-tabs-wrapper .nb-tabs-list {
	/*	display: block;*/
	}

	.nb-tabs-wrapper .nb-tab-item {
		display: block;
		vertical-align: top;
		padding-bottom: 20px;
	}

	.nb-tabs-wrapper .nb-tab-item .nb-tab-text {
		display: block;
		position: relative;
		top: auto;
		left: auto;
		right: auto;
	}

	.nb-tabs-wrapper .nb-tab-item .nb-tab-number {
		margin-top: -14px;
	}
}

@media screen and (min-width: 1200px) {
	.nb-tabs-wrapper .nb-tab-text {
		font-size: 13px;
	}
}

.nb-tabs-wrapper .nb-nav-text {
	color: #555;
}

.nb-tabs-wrapper .nb-nav-text a {
	color: #e23636;
}

.nb-tabs-wrapper .nb-nav-text,
.nb-tabs-wrapper .nb-nav-buttons {
	border-color: #d9d9d9;
}

.woocommerce-checkout .nb-tabs-wrapper form label.error {
	color: #e23636 !important;
}

.nb-tabs-wrapper .nb-tabs-list {
	font-weight: 600;
}

.nb-tabs-wrapper .nb-tab-item {
	color: #aaa;
}

.nb-tabs-wrapper .nb-tab-item .nb-tab-number {
	color: #000;
	background: #fff;
	border: 1px solid #ccc;
}

.nb-tabs-wrapper .nb-tab-item.current {
	color: #000;
}

.nb-tabs-wrapper .nb-tab-item.current .nb-tab-text {
	display: block;
}

.nb-tabs-wrapper .nb-tab-item .number-text {
	top: 1px;
}

.nb-tabs-wrapper .tab-completed-icon {
	top: 2px;
}

.nb-nav-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	margin-top: 1em;
	width: calc( 100% + 4px );
	clear: both;
}

button#nb-back-to-cart, .nb-no-back-to-cart #nb-prev {
	margin-right: auto;
}

.nb-nav-wrapper button.nb-nav-button {
	margin-right: 2px;
	margin-left: 2px;
}

.nb-nav-wrapper button#nb-prev, .nb-nav-wrapper button#nb-next, .nb-nav-wrapper button#nb-skip-login {
	display: none !important;
}

.nb-nav-wrapper button#nb-prev.current, .nb-nav-wrapper button#nb-next.current, .nb-nav-wrapper button#nb-skip-login.current  {
	display: inline-block !important;
}

.nb-step-item {
	display: none !important;
}

.nb-step-item.current {
	display: block !important;
}

.woocommerce-checkout form.login .wc-social-login {
	display: block !important;
}

.nb-step-item #order_review,
.nb-step-item #order_review_heading {
	width: 100%;
}

.nb-shipping-methods .nb-shipping-method .shipping-method {
	padding-top: 40px;
	padding-bottom: 40px;
	background: transparent linear-gradient(176deg, #FFFFFF 0%, #F6F8F7 100%) 0% 0% no-repeat padding-box;
	box-shadow: 0px 0px 12px #0000001F;
	border: 1px solid #DEDEDE;
	border-radius: 10px;
	margin-bottom: 20px;
	text-align: center;
	cursor: pointer;
	height: calc(100% - 20px);
}

.nb-shipping-methods .nb-shipping-method .shipping-method.active {
	border: 1px solid #1BCB3F;
}

.nb-shipping-methods .nb-shipping-method .shipping-method-title {
	font-weight: 700;
}
.nb-shipping-methods .nb-shipping-method .shipping-method-title .nb-price {
	font-weight: 400;
	color: #848484;
}

.nb-footer-action {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding: 20px;
}

.nb-footer-action .btn-generate-quotation {
	cursor: pointer;
    height: 40px;
    line-height: 40px;
    padding: 0 60px;
    border: 1px #45D242 solid;
    border-radius: 10px;
    width: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 20px 50px #00000029;
	margin-right: 20px;
}

.nb-footer-action .nb-button-check-out {
	cursor: pointer;
    height: 40px;
    line-height: 40px;
    padding: 0 60px;
    border: 0px;
    border-radius: 10px;
    width: auto;
    background: transparent linear-gradient(180deg, #1BCB3F 0%, #45D242 33%, #7BDB46 78%, #91DF48 100%) 0% 0% no-repeat padding-box;
	box-shadow: 0px 20px 50px #00000029;
	margin-right: 20px;
}

.nb-footer-action .btn-generate-quotation span{
	color: #000000;
}

.nb-step-item-billing {
	background: transparent linear-gradient(179deg, #FFFFFF 0%, #F6F8F7 100%) 0% 0% no-repeat padding-box;
	border: 1px solid #1BCB3F;
	border-radius: 10px;
	padding: 20px;
}
.nb-step-item-billing .woocommerce-billing-fields h3 {
	text-align: center;
	font-weight: 600;
}
.nb-step-item-billing .woocommerce-shipping-fields h3 {
	text-align: left;
	font-weight: 600;
}
.nb-step-item-billing .woocommerce-billing-fields .form-row label,
.nb-step-item-billing .woocommerce-shipping-fields .form-row label {
	display: block;
    font-weight: bold;
    margin-bottom: 7px;
}
.nb-step-item-billing .woocommerce-billing-fields .form-row .woocommerce-input-wrapper input.input-text,
.nb-step-item-billing .woocommerce-shipping-fields .form-row .woocommerce-input-wrapper input.input-text {
	border: 0.28346458077430725px solid #B5B5B5;
	border-radius: 5px;
	height: 45px;
    line-height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
.nb-step-item-billing .woocommerce-billing-fields .form-row.form-row-first,
.nb-step-item-billing .woocommerce-shipping-fields .form-row.form-row-first {
	width: 50%;
    float: left;
    padding-right: 15px;
}
.nb-step-item-billing .woocommerce-billing-fields .form-row.form-row-last,
.nb-step-item-billing .woocommerce-shipping-fields .form-row.form-row-last {
	padding-left: 15px;
	width: 50%;
    float: left;
}
.nb-step-item-billing .woocommerce-billing-fields .form-row.form-row-wide,
.nb-step-item-billing .woocommerce-shipping-fields .form-row.form-row-wide {
	width: 100%%;
}