.nb-button-register {
	width: 50%;
}
.nb-form-login-wrap .nb-login-left {
    /*padding-left: 6%;*/
}
.nb-form-login-wrap .nb-login-right {
    /*padding-right: 6%;*/
}
.nb-sign-up-now {
    margin-top: 20px;
}
.nb-signin-title {
    font-size: 55px;
    line-height: 54px;
    font-family: inherit;
    font-weight: 700;
    margin-bottom: 10px;
}
.nb-signin-desc {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.nb-form-login-wrap {
	padding: 15px 40px;
	border: 1px solid #DEDEDE;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(23,24,24,.05),0 1px 2px rgba(0,0,0,.15);
    margin-bottom: 60px;
    margin-top: 20px;
    font-family: Roboto;
}
.nb-form-login-wrap.nb-sign-up {
    max-width: 690px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
}
.nb-form-login-wrap.nb-sign-in {
    display: block;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding:  39px 62px;
}
.nb-form-login-wrap .checkbox-inline input[type="checkbox"],
.nb-form-login-wrap .checkbox input[type="checkbox"] {
    height: 27px!important;
    width: 27px!important;
    margin-right: 4px!important;
}
.nb-form-login-wrap .checkbox-inline {
    padding-left: 40px!important;
}
.nb-form-login .woocommerce-button, .nb-button-register {
    border-radius: 10px;
    background: transparent linear-gradient(0deg, #1BCB3F 0%, #45D242 33%, #7BDB46 78%, #91DF48 100%) 0% 0% no-repeat padding-box;
    border: none;
    padding: 10px;
    box-shadow: 0px 10px 20px #00000029;;
}
.nb-form-login .woocommerce-form-login input.form-control {
    padding-left: 10px;
}
/*.nb-form-login .iti-flag {
    height: 14px;
    background-position: -4449px 0;
}*/
.nb-social-log {
    color: #CBD4E6;
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.nb-social-log span:before { 
    position: absolute;
    height: 40%;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 1px;
    background: #CBD4E6;
    display: block;
    top: 0;
}
.nb-social-log span:after {
    position: absolute;
    height: 40%;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 1px;
    background: #CBD4E6;
    display: block;
    bottom: 0;
}
.nb-social-login .nsl-container-buttons {
    width: 100%;
}

.nb-social-login .nsl-container-buttons>a {
    margin-bottom: 20px!important;
}

.nb-social-login .nb-sign-up-now {
    font-size: 17px;
    line-height: 18px;
}
.nb-social-login .nb-sign-up-now a {
    color: #f00;
    display: inline-block!important;
    width: auto!important;
    margin-left: 3px;
}
.nb-social-login .nsl-button-label-container {
    flex: none;
}
.nb-login-remember-me {
    color: #B5B5B5;
}

@media screen and (min-width: 768px) {
    .nb-login-left, .nb-login-right {
        flex: 0 0 46.666667%;
        max-width: 46.666667%;
    }
    .nb-login-middle {
        flex: 0 0 6.666667%;
        max-width: 6.666667%;
    }
}

@media screen and (max-width: 768px) {
    .nb-form-login-wrap.nb-sign-in {
        padding: 15px 15px 22px 15px;
        max-width: 365px;
    }
    .nb-form-login-wrap.nb-sign-up {
        max-width: 365px;
    }
    .nb-form-login-wrap .nb-login-left {
        padding-left: 25px;
        padding-right: 25px;
    }
    .nb-signin-title {
        font-size: 30px;
        line-height: 42px;
        font-family: inherit;
        font-weight: 700;
    }
    .nb-signin-desc {
        font-size: 17px;
        line-height: 17px;
    }
    .nb-form-login-wrap .nb-login-middle {
        padding-left: 25px;
        padding-right: 25px;
        margin: 25px 0;
    }
    .nb-form-login-wrap .nb-login-right {
        padding-left: 25px;
        padding-right: 25px;
    }
    .nb-social-log {
        position: absolute;
        width: 100%;
        left: 0;
        transform:  initial;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nb-social-log span:before {
        position: absolute;
        height: 1px;
        width: calc(45% - 18px);
        left: 20px;
        transform: translateY(-50%);
        content: '';
        background: #CBD4E6;
        display: block;
        top: 50%;
    }
    .nb-social-log span:after {
        position: absolute;
        height: 1px;
        width: calc(45% - 18px);
        right: 20px;
        left: initial;
        transform: translateY(-50%);
        content: '';
        background: #CBD4E6;
        display: block;
        top: 50%;
    }
    .nb-button-register {
        width: 100%;
    }
    .nb-login-remember-me {
        color: #B5B5B5;
        margin-bottom: 15px!important;
    }
}