.nb-button-register {
	width: 50%;
}
.nb-form-login-wrap.nb-sign-in {
    display: block;
}
.nb-form-login-wrap {
	padding: 15px 30px;
	border: 1px solid #ebebeb;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(23,24,24,.05),0 1px 2px rgba(0,0,0,.15);
    margin-bottom: 60px;
}
.nb-form-login .woocommerce-button, .nb-button-register {
    border-radius: 10px;
    background: transparent linear-gradient(180deg, #1BCB3F 0%, #45D242 33%, #7BDB46 78%, #91DF48 100%) 0% 0% no-repeat padding-box;
    border: none;
}
.nb-social-log {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.nb-social-log span:before {
    position: absolute;
    height: 40%;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 1px;
    background: #CBD4E6;
    display: block;
    top: 0;
}
.nb-social-log span:after {
    position: absolute;
    height: 40%;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 1px;
    background: #CBD4E6;
    display: block;
    bottom: 0;
}
.nb-social-login .nsl-container-buttons {
    width: 100%;
}

.nb-social-login .nsl-container-buttons>a {
    margin-bottom: 20px!important;
}

.nb-social-login .nb-sign-up-now a {
    color: #f00;
    display: inline-block!important;
    width: auto!important;
}

@media screen and (max-width: 768px) {
    .nb-social-log {
        position: absolute;
        width: 100%;
        left: 0;
        transform:  initial;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nb-social-log span:before {
        position: absolute;
        height: 1px;
        width: calc(45% - 15px);
        left: 15px;
        transform: translateY(-50%);
        content: '';
        background: #CBD4E6;
        display: block;
        top: 50%;
    }
    .nb-social-log span:after {
        position: absolute;
        height: 1px;
        width: calc(45% - 15px);
        right: 15px;
        left: initial;
        transform: translateY(-50%);
        content: '';
        background: #CBD4E6;
        display: block;
        top: 50%;
    }
    .nb-button-register {
        width: 100%;
    }
}